.btn {
  padding: 8px 16px;
  border-radius: 2px;
  background-color: #4059e7;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 44%;
  margin-bottom: 30px;
  color: #fff;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  width: 180px;
}

.btn:hover,
.btn:focus {
  background-color: #2038c3;
}